.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 2rem 1rem;
    gap: 2rem;
    scroll-behavior: smooth;
    border-radius: 20px;


    background-color: rgb(18 18 18 / 1);
}

.horizontal-scroll-container > .card {
    flex: 0 0 280px;
    width: 280px;
    max-width: 100%;
}

