.navbarContainer {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-inline: auto;

  place-content: center;
  border-radius: 16px;
  width: min-content;
  padding: 0 30px;
  top: 1rem;
  height: 48px;

  gap: 20px;
  position: relative;
  overflow: visible;

  background-color: rgba(255, 255, 255, 0.03);

}

.navLink {
  color: rgb(255, 255, 255);

}


.navLink:hover {
  color: rgb(167 75 255);
  transform: scale(1.2)
}

.navLink:active {
  transform: scale(0.8);
}