.navbarContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.03);
  max-width: fit-content;
  padding: 20px 24px;
  border-radius: 15px;

  gap: 1rem;
  z-index: 1;
}

.navLink {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: opacity 0.2s ease, transform 0.1s ease;
}

.navLink:hover {
  opacity: 0.7;

}


.navLink:active {
  transform: scale(0.95);
}
